body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 40px;
}

.sky-background {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0,0, 0, 0.6)),url('gif/sky.gif');
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: brightness(0.4);
}


.welcome-box {
   border: 1px solid rgba(255, 255, 255, 0.2);
   border-radius: 10px;
   background-color: rgba(255, 255, 255, 0.1);
   backdrop-filter: blur(10px);
padding: 40px;
width: max-content;
position: absolute;
top: 20px;
left: 20px;
}

.Depot {
    border: 1px solid rgba(255, 255, 255, 0.2);
   border-radius: 10px;
   background-color: rgba(255, 255, 255, 0.1);
   backdrop-filter: blur(10px);
padding: 40px;
width: max-content;
position: absolute;
top: 20px;
right: 20px;
}